/* CSSTidy 1.3: Mon, 14 Oct 2013 03:09:12 -0500 */
.wims_clearSearch {
display:inline-block;
}

.wims_search_engine {
padding-left:10%;
padding-right:10%;
padding-top:3pt;
text-align:center;
}

.wims_search_help {
font-size:small;
}

#searchform {
vertical-align:middle;
text-align:center;
margin-left:auto;
margin-right:auto;
}
